.sign_page {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.sign_page .sign_frame {
  margin-top: 2%;
  width: 744px;
  height: 831px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;

  box-shadow: 0px 10px 50px 0px rgba(4, 30, 66, 0.05);
  background: rgb(255, 255, 255);
}

.sign_frame strong {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 28px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: left;
}

.sign_frame .input_box {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.input_box label {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.input_box input {
  margin-top: 5px;
  width: 608px;
  height: 56px;
  border: none;
  outline: none;

  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;

  background: rgb(255, 255, 255);

  box-shadow: 0px 10px 20px 0px rgba(4, 30, 66, 0.05);
  background: rgb(255, 255, 255);
}

.input_box input:hover {
  box-sizing: border-box;
  border: 1px solid rgb(4, 30, 66);
  border-radius: 6px;
}

.input_box input::placeholder {
  padding-left: 10px;
  color: rgb(98, 105, 116);
  font-family: "Jost";
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.input_box input::placeholder:hover {
  color: rgb(2, 24, 54);
}

.sign_in_boxes .sending_bottom {
  margin-top: 10px;
  width: 608px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(245, 195, 75);
  border-radius: 6px;

  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
  background: rgb(245, 195, 75);
}

.sending_bottom a {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}

.sign_in_boxes .creating_account {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.creating_account span {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.creating_account a {
  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.sign_in_boxes .line_div div {
  margin-top: 35px;
  width: 608px;
  height: 1.32px;

  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(234, 234, 234);
}

.line_div div > span {
  width: 66px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(4, 30, 66);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  background: rgb(255, 255, 255);
  border-radius: 70px;
}

.sign_in_boxes .icon_boxes {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon_boxes .icon_box {
  width: 132.56px;
  height: 59.26px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(25, 103, 210);
  border-radius: 8px;

  background: rgb(255, 255, 255);
}

.icon_box i {
  color: rgb(25, 103, 210);
  font-family: "Font Awesome 5 Brands";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.icon_boxes .icon_box_2 {
  width: 132.56px;
  height: 59.26px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(217, 48, 37);
  border-radius: 8px;

  background: rgb(255, 255, 255);
}

.icon_box_2 i {
  color: rgb(217, 48, 37);
  font-family: "Font Awesome 5 Brands";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.icon_boxes .icon_box_3 {
  width: 132.56px;
  height: 59.26px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(45, 154, 220);
  border-radius: 8px;

  background: rgb(255, 255, 255);
}

.icon_box_3 i {
  color: rgb(45, 154, 220);
  font-family: "Font Awesome 5 Brands";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.icon_boxes .icon_box_4 {
  width: 132.56px;
  height: 59.26px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgb(4, 30, 66);
  border-radius: 8px;

  background: rgb(255, 255, 255);
}

.icon_box_4 i {
  color: rgb(4, 30, 66);
  font-family: "Font Awesome 5 Brands";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
